<div *ngIf="ricetta">
  <div class="divPrincipale" >
    <div class="img" [ngStyle]="{'background-image': 'url(' + ricetta.image + ')'}"></div>
    <h3>{{ricetta.title}}</h3>
    <p>
      <span [innerHTML]="ricetta.description"></span>
    </p>
  </div>
  <div class="divSecondario">
    <h3>Difficoltà:</h3>
    <img [src]="percorso + ricetta.difficulty + '.png'" class="imgDifficulty">
    <div>Ricetta pubblicata il: {{ricetta.createdAt | date: 'longDate'}}</div>
  </div>

  <button (click)="tornaIndietro()" *ngIf="pag != 0" class="btn btn-primary">TORNA INDIETRO</button>
  <button routerLink="/home" *ngIf="pag == 0" class="btn btn-primary">INDIETRO</button>
</div>

<div *ngIf="!ricetta">
  <p>LA RICETTA NON ESISTE</p>
</div>
