<div class="sfondo" style="height: 100vh; display: flex; flex-direction: column;">
  <div style="height: 30vh; display: flex; justify-content: center; align-items: center;">
    <p style="display: flex; justify-content: center; font-family: 'Homemade Apple', cursive!important;font-size: 40px!important; color: white;">
      Ops... il tuo piatto è vuoto... cliccalo per riempirlo</p>
  </div>
  <div style="display: flex; justify-content: center;">
    <img src="../assets/img/sottopiatto-moonlight.png" style="width: 800px;" (click)="click()"></div>
</div>
