@import "../../../../styles/colors.scss";

.container-card{
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.6%;
  margin-bottom: 30px;
  .card{
    .card-image{
    height: 200px;
    //background-image: url('...');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
  }
  .card-body{
    .card-title{
        font-weight: bold;
        font-size: 16px;
        color: $primary-color-1;
    }
    .card-text{
      text-align: justify;
      height: 135px;
      padding: 10px;
      //overflow-y: auto;
    }
    a.btn.btn-primary {
      font-size: 15px;
      background-color: $primary-color-1;
      border: none;
      margin: auto;
      display: block;
      font-weight: 700;
      padding: 13px;
    }
  }
}
@media screen and (max-width: 960px) {
  .container-card{
    width: 30%;
    margin-left: 2.5%;
  }
  .card-text{
    height: 300px!important;
  }
}
@media screen and (max-width: 660px) {
  .container-card{
    width: 47%;
    margin-left: 2%;
  }
  .card-text{
    height: 200px!important;
  }
}
@media screen and (max-width: 480px) {
  .container-card{
    width: 98%;
    margin-left: 1%;
  }
  .card-text{
    height: auto!important;
  }
}
