  <div class="container-card" *ngFor="let ricetta of recipes">
    <div class="card">
        <div class="card-image" [ngStyle]="{'background-image': 'url(' + ricetta.image + ')'}"></div>
        <div class="card-body">
          <h5 class="card-title">{{ricetta.title}} - code: {{ricetta._id}}</h5>
          <p class="card-text">{{ricetta.description | slice: 0-250}}...</p>
          <!-- <a routerLink="dettaglio/{{ricetta._id}}" class="btn btn-primary">Visualizza</a> -->
          <a [routerLink]="'dettaglio/'+ricetta.title+'/'+ricetta._id" class="btn btn-primary">Visualizza</a>
      </div>
    </div>
  </div>
