@import "../../../styles/colors.scss";

.bg-red{
  background-color: $primary-color-1!important;
}
.logo{
  width: 60px;
  margin-right: 10px;
}
div#navbarNavAltMarkup {
  display: flex !important;
  justify-content: flex-end;
}
