@import "../../../styles/colors.scss";

.bg-red{
  background-color: $primary-color-1!important;
}
.logo{
  width: 60px;
  margin-right: 10px;
}
div#navbarNavAltMarkup {
  display: flex !important;
  justify-content: flex-end;
}
ul {
  display: flex;
  margin-left: 50px;
  /* width: 284px; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  list-style: none;

  li, a{
    color: white;
}
}


@media screen and (min-width: 992px) {

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
