<section>
  <h2>Compila il modulo per registrarti</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <div class="row">
    <label class="form-label" for="email">Email/username</label>
    <input type="email" name="email" class="form-control" placeholder="scrivi qui la  tua email" ngModel required>
  </div>

  <div class="row">
    <label class="form-label" for="password">password</label>
    <p-password ngModel name="password" class="form-control" [toggleMask]="true" [feedback]="false" required></p-password>
  </div>


  <div class="row">
    <button class="btn btn-primary">ACCEDI</button>
  </div>
  <div class="alert alert-danger" *ngIf="loginError">
    {{loginError}}
  </div>
</form>

<div id="registrarti">
  Se ancora non sei registrato, <a routerLink="/user/registrazione">clicca qui</a> per registrarti
</div>
</section>
<p-toast position="bottom-right"></p-toast>
