<!-- <div class="divisore"> -->

<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- </div> -->
<!-- <ngb-carousel *ngIf="images">
	<ng-template *ngFor="" ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="percorso + images[0].id + '.jpg'" [alt]="images[0].label" />
		</div>
		<div class="carousel-caption">
			<h3>{{images[0].label}}</h3>
		</div>
	</ng-template>
</ngb-carousel> -->

<!-- <div>
  <ul *ngIf="allievi.length > 0">
    <li>Allo stato attuale ci sono {{allievi.length}} allievi</li>
    <li *ngFor="let allievo of allievi">Nome: {{allievo.nome}},Cognome: {{allievo.cognome}},Età: {{allievo.eta}}</li>
  </ul>
  <div *ngIf="allievi.length == 0">Ancora non ci sono allievi</div>
</div> -->

<!-- <div>
  <input type="text" [(ngModel)]="coloreScelto"><button (click)="cambiaSwitch()">Cambia colore</button>

</div>
<div id="contenitore-switch" [ngSwitch]="colore">
  <div *ngSwitchCase="'green'" style="color:green">Verde</div>
  <div *ngSwitchCase="'red'" style="color:red">Rosso</div>
  <div *ngSwitchCase="'yellow'" style="color:yellow">Giallo</div>
  <div *ngSwitchDefault>Nessun colore</div>
</div> -->


